root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true

[*.{c,cpp,h}]
indent_size = 4
indent_style = space
insert_final_newline = true

[meson.build]
indent_size = 4
indent_style = space
insert_final_newline = true

[CmakeLists.txt]
indent_size = 4
indent_style = space
insert_final_newline = true
